<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-keytalk" version="0.0.4a">
    <name>Keytalk</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,keytalk</keywords>
    <js-module src="www/keytalk.js" name="keytalk">
        <clobbers target="keytalk" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Keytalk">
                <param name="ios-package" value="CDVKeytalk"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Keytalk.h" />
        <source-file src="src/ios/Keytalk.m" />
    </platform>
</plugin>